input[type=text], input[type=password] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20;
    background-color: #fff;
    padding-left: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    position: relative;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #8AE3AE;
}
html{
    background-color: #80C85F
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: centre;
    width: 50%;
}
.container {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(45, 68, 91, 0.70);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
.for{
    display: block;
    margin-top: 0em;
}
label{
    float: centre;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-stretch: ultra-expanded;
    text-shadow: 2px 2px 5px rgba(37, 112, 187, 0.70);
    }
    