
{%extends "layout.html" %}
{% block content %}

<div class="signin" >
<h1>Register</h1>
{% if error %}
<p class=error><strong>Error:</strong>{{ error }}</p>
{% endif %}

<form action="http://localhost:4000/login" method="POST">
    
    <label >username</label>
    <input type="text"  class="form-control" placeholder="username" required autofocus>
    <label>Password</label>
    <input type="password"  class="form-control" placeholder="Password" required>
    

        <p><input type=submit value=Login> </p>
</form>

{% for messages in get_flashed_messages() %}
    <div class=flash>
        {{ messages }}
    </div>
{% endfor %}
{% endblock %}